{% extends 'layout.html' %}
{% block title %}Sniper{% endblock %} 
 {% block body %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pt-5 pl-2 pr-2 mt-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="m-0 text-white">Token Launch Sniper</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">Token Launch Sniper</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid p-2">

        <!-- new row -->
       <div class="row">
          <!-- /.col-md-8 -->
        <div class="col-lg-12">
          <div class="card">
            
            <div class="card-body">
              <form action="">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="address">Contact Address</label>
    
                      <div class="input-group input-text-select mb-3">
                          <input id="address" name="address" placeholder="Enter you Contact Address" type="text" class="form-control hulk-input-lg">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="contract_address">Token Summary</label>
                      <div class="input-group input-text-select mb-3">
                          <input id="contract_address" name="contract_address" placeholder="Please enter a contract address" type="text" class="form-control hulk-input-lg">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <label for="amount_in">Amount In</label>
                    <div class="input-group mb-3">

                      <input type="text" id="amount_in" name="amount_in" placeholder="0" class="form-control hulk-input-lg" required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-exchange-alt mr-4"></i> BUSD</span>
                      </div>
                    </div>
                  </div>
                </div>
                  
                  <button id="submit" href="#" class="btn btn-primary btn-connect hulk-btn" disabled >Connect the Wallet</button>
                  
              </form>
            </div>
            <div class="dvs-line"></div>

            <div class="text-center">
              <div class="hulk-card-footer mb-4 mt-4">
                Powered by hulk
              </div>
            </div>
          </div>

        </div>
        <!-- /.col-md-8 -->
       </div>
        <!-- new row -->

        <!-- new row -->
       <div class="row">
        <!-- /.col-md-12 -->
          <!-- /.col -->
          <div class="col-md-12">
           

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">My Previous Orders</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped hulk-table table-responsive ">
                  <thead>
                    <tr>
                      <th style="width: 40px">#Order</th>
                      <th>Amount In</th>
                      <th>Token</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>$ 15.30284</td>
                      <td>1293874s8sd719sxfh123dga10093 </td>
                      <td><span class="badge bg-danger">Some Status</span></td>
                      <td><a href="#" class="del-action" ><i class="margin-center text-white fas fa-trash"></i> Delete</a></td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>$ 15.30284</td>
                      <td>1293874s8sd719sxfh123dga10093 </td>
                      <td><span class="badge bg-success">Some Status</span></td>
                      <td><a href="#" class="del-action" ><i class="margin-center text-white fas fa-trash"></i> Delete</a></td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>$ 15.30284</td>
                      <td>1293874s8sd719sxfh123dga10093 </td>
                      <td><span class="badge bg-warning">Some Status</span></td>
                      <td><a href="#" class="del-action" ><i class="margin-center text-white fas fa-trash"></i> Delete</a></td>
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td>$ 15.30284</td>
                      <td>1293874s8sd719sxfh123dga10093 </td>
                      <td><span class="badge bg-danger">Some Status</span></td>
                      <td><a href="#" class="del-action" ><i class="margin-center text-white fas fa-trash"></i> Delete</a></td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
      <!-- /.col-md-12 -->
     </div>
      <!-- new row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

{% endblock  %}