{% extends 'layout.html' %}

{% block title %}Summary{% endblock %} 
 {% block body %}


<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pt-5 pl-2 pr-2 mt-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div class="summary-panel d-flex">
              <div class="image mr-3">
                <img src="images/favicon.png" class="img-circle elevation-2" alt="">
              </div>
              <div class="identity">
                <p>Token</p>
                <h1 class="m-0 text-white">hulk</h1>
              </div>
            </div>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="#">Token Launch Sniper</a></li>
              <li class="breadcrumb-item active">Summary</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid p-2">
        <div class="row">
          <div class="hulk-sponsor">
            <h5 class="mr-3"><strong>hulk</strong></h5><p class="mr-3"> Sponsored Slots Avaliable ! <a href=""><strong class="mr-3">Book your slot here!</strong></a></p>
          </div>
        </div>


        <!-- new card row -->
       <div class="row">
         
        <!-- /.col-md-6 -->
        <div class="col-lg-6">
          <div class="card summary-card">
            <div class="card-header mb">
              <h5>Profile Summary</h5>
            </div>
            <div class="card-body text-gray">
        
              <!-- content body start here -->
              <div class="row mb-4">

                <div class="col-lg-6">
                  <div class="summary-price">
                    <p>PRICE</p>
                    <div class="d-flex summary-detail text-white">
                      <h3>$2.934</h3> <span> @ 1.49283</span>
                    </div>
  
                  </div>
                </div>
  
                <div class="col-lg-6">
                  <div class="summary-price">
                    
                    <p>Market Cap</p>
                    <div class="d-flex summary-detail text-white">
                      <h3>$4,056,894.05</h3> 
                    </div>
  
                  </div>
                </div>
              </div>
              
              
            <!-- line -->
            <div class="dvs-line"></div>
            <!-- line -->

            <!-- detail card start here -->
            <div class="d-flex mt-2 mb-2">
              <div class="col-lg-3">
              <small>Total Supply:</small> 
              </div>
              <div class="col-lg-9">
                <span class="mr-5"><small>3x2340f009023 ADX-21</small></span>
              </div>
            </div>

            <!-- line -->
            <div class="dvs-line"></div> 
            <!-- line -->

            <div class="d-flex mt-2 mb-2">
              <div class="col-lg-3">
              <small>Holders:</small> 
              </div>
              <div class="col-lg-5">
                <span class="mr-5"><small>6,5333 Addresses</small></span>
              </div>
              <div class="col-lg-4">
                  <div class="hulk-fulldiv-linechart">
                    <div
                          class ="hulk-individual-marketcap"
                          data-charts ="[65,59,81,81,56,55,40,80,90]" 
                          data-bg = "rgba(17, 151, 11, 0.4)"
                          data-border = "11970b">
                          <canvas></canvas>
                        </div>
                        
                  </div>


              </div>
            </div>

            <!-- line -->
            <div class="dvs-line"></div>
            <!-- line -->

            <div class="d-flex mt-2 mb-2">
              <div class="col-lg-3">
              <small>Transfers: </small>
              </div>
              <div class="col-lg-9">
                <span class="mr-5"><small>20,853</small></span>
              </div>
            </div>
            <!-- detail card end here             -->


            </div>

          </div>

        </div>
        <!-- /.col-md-6 -->

        <!-- /.col-md-6 -->
        <div class="col-lg-6">
          <div class="card summary-card">
            <div class="card-header mb">
              <h5>Profile Panel 2</h5>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="far fa-bookmark"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                
              </div>
            </div>
            <div class="card-body text-gray">
        
              <!-- content body start here -->
              

            <!-- detail card start here -->

            <!-- start line -->
            <div class="d-flex mt-2 mb-2">
              <div class="col-lg-3">
              <small>Contract:</small> 
              </div>
              <div class="col-lg-9">
                <span class="mr-5"><small>3x2340f009023 ADX-21</small></span>
              </div>
            </div>
            <!-- end line -->
            <!-- line -->
            <div class="dvs-line"></div> 
            <!-- line -->

            <!-- start line -->
            <div class="d-flex mt-2 mb-2">
              <div class="col-lg-3">
              <small>Decimals:</small> 
              </div>
              <div class="col-lg-9">
                <span class="mr-5"><small>9</small></span>
              </div>
            </div>
            <!-- end line -->
            <!-- line -->
            <div class="dvs-line"></div> 
            <!-- line -->

             <!-- start line -->
             <div class="d-flex mt-2 mb-2">
              <div class="col-lg-3">
              <small>Official Site:</small> 
              </div>
              <div class="col-lg-9">
                <span class="mr-5"><small><a href="">https://hulk.com.br <i class="fas fa-share-square ml-2 text-verde"></i></a> </small></span>
              </div>
            </div>
            <!-- end line -->
            <!-- line -->
            <div class="dvs-line"></div> 
            <!-- line -->

             <!-- start line -->
             <div class="d-flex mt-2 mb-2">
              <div class="col-lg-3">
              <small>Social Profiles:</small> 
              </div>
              <div class="col-lg-9 text-verde">
                <span class="mr-1"><a href=""><i class="fab fa-github"></i></a></span>
                <span class="mr-1"><a href=""><i class="fab fa-instagram"></i></a></span>
                <span class="mr-1"><a href=""><i class="fab fa-twitter"></i></a></span>
                <span class="mr-1"><a href=""><i class="fab fa-linkedin"></i></a></span>
              </div>
            </div>
            <!-- end line -->
            <!-- line -->
            <div class="dvs-line"></div> 
            <!-- line -->

            </div>

          </div>

        </div>
        <!-- /.col-md-6 -->

       </div>
        <!-- new card row -->

        
        <!-- table row start here -->
        <!-- new row -->
       <div class="row">
        <!-- /.col-md-12 -->
          <!-- /.col -->
          <div class="col-md-12">
           

            <div class="card">
              <div class="card-header">
                <div class="btn-group fwrap">
                  <button type="button" class="btn btn-info swap-btn">Transfers</button>
                  <button type="button" class="btn btn-info swap-btn">Holders</button>
                  <button type="button" class="btn btn-info swap-btn">Info</button>
                  <button type="button" class="btn btn-info swap-btn">Read Contract</button>
                  <button type="button" class="btn btn-info swap-btn">Write Contract</button>
                  <button type="button" class="btn btn-info swap-btn">Analytics</button>
                  <button type="button" class="btn btn-info swap-btn">Comments</button>
                </div>
                
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped hulk-table table-responsive-sm">
                  <thead>
                    <tr>
                      <th style="width: 40px">Txn Hash</th>
                      <th>Age</th>
                      <th>From</th>
                      <th>To</th>
                      <th>Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="">12khf18x91012300123312b</a></td>
                      <td>5 min ago</td>
                      <td><a href=""><button class="btn btn-circle-sm btn-primary-light"><i class="fas fa-arrow-right"></i></button> PancakeSwap V2</a> </td>
                      <td><a href="">a12398x791hds23123</a></td>
                      <td> 13,093,23</td>
                    </tr>
                    <tr>
                      <td><a href="">12khf18x91012300123312b</a></td>
                      <td>5 min ago</td>
                      <td><a href=""><button class="btn btn-circle-sm btn-primary-light"><i class="fas fa-arrow-right"></i></button> PancakeSwap V2</a> </td>
                      <td><a href="">a12398x791hds23123</a></td>
                      <td> 13,093,23</td>
                    </tr>
                    <tr>
                      <td><a href="">12khf18x91012300123312b</a></td>
                      <td>5 min ago</td>
                      <td><a href=""><button class="btn btn-circle-sm btn-primary-light"><i class="fas fa-arrow-right"></i></button> PancakeSwap V2</a> </td>
                      <td><a href="">a12398x791hds23123</a></td>
                      <td> 13,093,23</td>
                    </tr>
                    <tr>
                      <td><a href="">12khf18x91012300123312b</a></td>
                      <td>5 min ago</td>
                      <td><a href=""><button class="btn btn-circle-sm btn-primary-light"><i class="fas fa-arrow-right"></i></button> PancakeSwap V2</a> </td>
                      <td><a href="">a12398x791hds23123</a></td>
                      <td> 13,093,23</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
      <!-- /.col-md-12 -->

     </div>
      <!-- new row -->

     

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock  %}